@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;500;700&display=swap");

#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

nav {
  display: flex;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  height: 55px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  z-index: 10;
}

#navLogo {
  margin: auto 20px;
  height: 30px;
}

#navLogo:hover {
  cursor: pointer;
}

#navElements {
  display: flex;
}

.navButtonBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButtonBox:hover {
  background-color: rgb(228, 250, 191);
  cursor: pointer;
}

.navButton {
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  color: #242424;
  margin: auto 10px;
}

#userProfile {
  position: absolute;
  right: 0;
  margin: auto 20px;
}

#userProfile:hover {
  cursor: pointer;
}

#userProfile > p {
  font: 16px;
  color: #242424;
}

#carouselComponent {
  margin-top: 85px;
  /* background-color: rgb(253, 253, 190); */
  height: 550px;
}

.swiper {
  width: 400px;
  height: 400px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slideImg {
  width: 400px;
  height: 400px;
}

.heartOverlay {
  background-color: rgba(255,255,255,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 56px;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 84%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.heartOverlay > img {
  width: 45px;
}

.heartOverlay.show {
  opacity: 1;
}

#componentTitle {
  color: rgb(43, 43, 43);
  font-family: Barlow, Verdana, Geneva, sans-serif;
  font-weight: 500;
}

.cuisineNames {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
}

.cuisineNames > p {
  color: rgb(43, 43, 43);
  font-size: 27px;
  margin: 10px auto;
}

.slideAll {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nextBtn {
  background-color: #045832;
  width: 120px;
  font-size: 20px;
  font-family: Barlow, Verdana, Geneva, sans-serif;
  margin: 0;
  border-width: 2px;
  padding: 10px;
}

.nextBtn:hover {
  border-color: rgb(133, 209, 3);
  transform: translateY(1px);
}

.checkBoxDiv {
  background-color: white;
  width: 180px;
  border: 1px solid grey;
  color: rgb(43, 43, 43);
  border-radius: 8px;
  margin: 10px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 75px;
  max-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkBoxDiv:hover{
  background-color: rgb(228, 250, 191);
  cursor: pointer;
  border-color: #067A46;
}

.checkBoxDiv > p {
  font-size: 22px;
  padding: 0;
  overflow: hidden;
  white-space: y;
  margin: 20px 30px;
}

#checkBoxWrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 35px auto;
  width: 65%;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; 
  padding: 50px;
  overflow: hidden;
  border-radius: 10px;
}

@media (max-width: 1550px) {
  #checkBoxWrap {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* Change to 3 columns for screens 768px wide or smaller */
  }
}

@media (max-width: 1200px) {
  #checkBoxWrap {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Change to 3 columns for screens 768px wide or smaller */
  }
}

@media (max-width: 900px) {
  #checkBoxWrap {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Change to 2 columns for screens 480px wide or smaller */
  }
}

#hr1{
  margin-top: 30px;
  border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
}

.ticked{
  background-color: #067A46;
  color: white;
  font-weight: bold;
}

.ticked:hover{
  background-color: #045832;
}

h2{
  margin-top: 30px;
  color: rgb(43, 43, 43);
  font-family: Barlow, Verdana, Geneva, sans-serif;
  font-size: 28px;
  font-weight: 500;
}

#btn2{
  margin-top: 5px;
}

.mini{
  font-size: 17px !important;
}

.picback{
  width: 250px;
  max-height: 250px;
  position: absolute;
  z-index: 0;
  -webkit-user-drag: none;
}

#pic1{
  left: 150px;
  top: 130px;
}

#pic2{
  right: 120px;
  top: 180px;
}

#pic3{
  left: 230px;
  top: 470px;
}

#pic4{
  right: 220px;
  top: 470px;
}

.boxDish{
  background-color: black;
}

#hr2{
  margin-top: 30px;
  border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
}

h3{
  margin-top: 30px;
  color: rgb(43, 43, 43);
  font-family: Barlow, Verdana, Geneva, sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.boxDish>img{
  width: 300px;
  max-height: 300px;
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
}

.boxDish{
  max-width: 300px;
  min-height: 450px;
  max-height: 450px;
  background-color: white; 
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
  overflow: hidden;
  padding-bottom: 5px;
  margin: auto;
}

.boxDish>hr{
  margin-top: -10px;
  border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
}

.dishTitleName{
  margin-top: 2px;
  color: #045832;
  font-family: Barlow, Verdana, Geneva, sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

#ingredientTitle{
  margin-top: -8px;
  color: rgb(43, 43, 43);
  font-family: Barlow, Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#ingredientList{
  margin-top: -9px;
  color: rgb(43, 43, 43);
  font-family: Barlow, Verdana, Geneva, sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

#cardGrid{
  display: grid;  
  row-gap: 50px;

  grid-template-columns: repeat(3, 1fr);
  margin: 35px auto;
  width:75%;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; 
  padding: 50px;
  overflow: hidden;
  border-radius: 10px;
    
}

#disclaimer{
  margin-top: -35px;
  margin-bottom: 30px;
  color: rgb(43, 43, 43);
  font-family: Barlow, Verdana, Geneva, sans-serif;
  font-size: 15px;
  font-weight: lighter;
}